html, body{
  background-color: black;
}

.irissa_rock{
  position: relative;
  animation: irissa_move 15s ease infinite;
  overflow:hidden;
}

.irissa_rock:hover{
  cursor:crosshair;
}

@keyframes irissa_move {
  0% {
    left: 5%; 
    top: 5%;
  }
    50% {
    left: 5%; 
      top: 7%;
  }
    100% {
    left: 5%; 
    top: 5%;
  }
}
