html, body{
  background-color: black;
  cursor:url(https://i.gifer.com/origin/41/4102e25900101c953d28df6ce276cadc_w200.gif), auto;
}

.background{
  width:100%;
  height:100%;
}

.irissa_rock{
  position: absolute;
  animation: irissa_move 15s ease infinite;
  width: 13%;
  height: auto;
  z-index: 10;
  transition-property: transform;
  transform: rotate(-1deg);

}

.irissa_rock:hover{
  cursor:crosshair;
  width: 14%;

}

.irissa_text{
  position:relative;
  opacity:80%
}

.mun_rock{
  position: absolute;
  animation: mun_move 15s ease infinite;
  width: 13%;
  height: auto;
  z-index: 10;
}

.mun_rock:hover{
  cursor:crosshair;
  width: 14%;

}

.mun_text{
  position:relative;
  opacity:80%
}

.reki_rock{
  position: absolute;
  animation: reki_move 15s ease infinite;
  width: 13%;
  height: auto;
  z-index: 10;
  transition-property: transform;
  transform: rotate(5deg);

}

.reki_rock:hover{
  cursor:crosshair;
  width: 14%;

}

.reki_text{
  position:relative;
  opacity:80%
}

.kaiyo_rock{
  position: absolute;
  animation: kaiyo_move 15s ease infinite;
  width: 13%;
  height: auto;
  z-index: 10;
  transition-property: transform;
  transform: rotate(1deg);

}

.kaiyo_rock:hover{
  cursor:crosshair;
  width: 14%;

}

.kaiyo_text{
  position:relative;
  opacity:80%
}

@keyframes irissa_move {
  0% {
    left: 2%; 
    top: 37%;
  }
    50% {
    left: 2%; 
      top: 41%;
  }
    100% {
    left: 2%; 
    top: 37%;
  }
}

@keyframes mun_move {
  0% {
    right: 17%; 
    top: 23%;
  }
    50% {
    right: 17%; 
      top: 19%;
  }
    100% {
    right: 17%; 
    top: 23%;
  }
}

@keyframes reki_move {
  0%{
    left: 4%; 
    top: 7%;
  }
  25% {
    left: 4%; 
    top: 5%;
  }
    75% {
    left: 4%; 
      top: 9%;
  }
    100% {
    left: 4%; 
    top: 7%;
  }
}

@keyframes kaiyo_move {
  0% {
    right: 3%; 
    top: 55%;
  }
    50% {
    right: 3.5%; 
      top: 59%;
  }
    100% {
    right: 3%; 
    top: 55%;
  }
}
