html, body{
  background-color: black;
}

.irissa_rock{
  position: relative;
  left: 90%;
  right: 90%;
}

.irissa_rock:hover{
  position: absolute;
  left: 50vmin;
  right: 50vmin;
  cursor:crosshair;
}
